<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
<body>
<div class="container">
    <div th:replace="common/bodyHeader :: bodyHeader" />
    <div class="jumbotron mt-5">
        <h1>뉴스 등록하기</h1>
        <div>
            <form>
                <div class="form-group">
                    <label>뉴스 제목</label>
                    <input type="title" class="form-control" placeholder="뉴스 제목을 입력해주세요."
                            style="width: 200px;">
                </div>
                <div class="form-group">
                    <label>내용</label>
                    <textarea class="content" rows="7" style="width: 300px;"></textarea>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>