<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header">
    <title>Main Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
<body>
<div class="container">
    <div th:replace="common/bodyHeader :: bodyHeader" />
    <h1>Main Page</h1>
    <div class="jumbotron">
        <h1>메인</h1>
        <p class="lead">게시판 메인</p>
        <p>
            <a class="btn btn-lg btn-secondary">게시판 관련 페이지</a>
        </p>
    </div>
</div>
</body>
</html>