<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header">
    <title>Main Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
<body>
<div class="container">
    <div th:replace="common/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <h1>세상에서 가장 맛있는 이야기</h1>
        <br>
        <p>
            <a class="btn btn-lg btn-outline-warning btn-width" href="/restaurant">검색</a>
        </p>
        <p>
            <a class="btn btn-lg btn-outline-info btn-width" href="/review">후기</a>
        </p>
        <p>
            <a class="btn btn-lg btn-outline-secondary btn-width" href="/board">게시판</a>
        </p>
        <p>
            <a class="btn btn-lg btn-outline-dark btn-width" href="/board">맛집 등록</a>
        </p>
    </div>
</div>
</body>
<style>
    .btn-width {
        width: 200px;
    }
</style>
</html>