<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: header">
    <title>Main Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
<body>
<div class="container">
    <div th:replace="common/bodyHeader :: bodyHeader" />
    <div class="jumbotron mt-5">
        <h1>카드 뉴스 한눈에 보기</h1>
        <br>
        <p>
            <a class="btn btn-lg btn-warning btn-width" href="/read">뉴스 읽기</a>
        </p>
        <p>
            <a class="btn btn-lg btn-info btn-width" href="/create">뉴스 등록</a>
        </p>
        <p>
            <a class="btn btn-lg btn-secondary btn-width" href="/board">의견 나누기</a>
        </p>
    </div>
</div>
</body>
<style>
    .btn-width {
        width: 200px;
        height: 100px;
    }
</style>
</html>